Django~=5.2.0
ipython~=9.0.2
django-extensions~=3.2.3
git+https://github.com/dbca-wa/dbca-utils@2.1.0
git+https://github.com/dbca-wa/ledger_api_client.git
git+https://github.com/dbca-wa/django5-utils-six.git#egg=django5_six
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
psycopg2~=2.9.10
git+https://github.com/scottp-dpaw/social-core.git@email_fix#egg=social-auth-core
coverage~=7.6.12
coveralls~=4.0.1
reportlab~=4.3.1
django_bootstrap3~=25.1
django-datatables-view~=1.20.0
django-reversion~=5.1.0
django-reversion-compare==0.18.1
git+https://github.com/xzzy/django-preserialize.git#egg=django-preserialize
django-countries~=7.6.1
openpyxl~=3.1.5
tableschema~=1.21.0
python-dateutil~=2.9.0
djangorestframework~=3.15.2
djangorestframework-gis~=1.1
djangorestframework-csv~=3.0.2
six>=1.10.0
django-taggit~=6.1.0
geojson~=3.2.0
django-extra-fields~=3.0.2
django-crispy-forms~=2.3
django-reset-migrations~=0.4.0
django-ckeditor~=6.7.2
djangorestframework-datatables~=0.7.0
django-confy~=1.0.4
xlsxwriter~=3.2.2
django-concurrency~=2.6
gunicorn==23.0.0
django-dirtyfields~=1.9.6
django-smart-selects~=1.7.2
django-debug-toolbar~=5.0.1
dj-database-url~=2.3.0
BeautifulSoup4~=4.13.3
django-treebeard~=4.7.1
docxtpl~=0.19.1
django-multiselectfield~=0.1.12
whitenoise==6.8.0
git+https://github.com/dbca-wa/django-media-serv.git#egg=django_media_serv
python-decouple~=3.8
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
pyparsing~=3.2.1
pydot~=3.0.4
pygraphviz~=1.14
pydotplus~=2.0.2
wheel~=0.45.1
urllib3~=2.3.0
requests~=2.32.3
numpy~=2.2.3
django-widget-tweaks~=1.5.0
git+https://github.com/dbca-wa/django-cron.git#egg=django-cron
django-phonenumber-field~=8.0.0
pytz~=2025.1
phonenumbers~=9.0.1
click~=8.1.8
future~=1.0.0