{% extends "ledgerui/organisation.html" %}

{% load static %}
{% load django_vite %}

{% block myorganisation_nav %}

<button class="nav-link managed-organisation-nav" id="nav-manage-organisation-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-organisation" type="button" role="tab" aria-controls="nav-manage-organisation" aria-selected="false">Manage Organisation</button>

{% endblock %}

{% block additional_content %}

<div id="nav-manage-organisation-tab-page" style="display:none;">
    <div id="app"></div>
</div>

{% vite_asset vue3_entry_script app='default' %}

<style>
    .navbar-brand > img {
        display: inline;
    }
    
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .navbar {
        margin-bottom: 0px;
    }
    
    .nav-item {
        background-color: hsla(0, 0%, 0%, 0) !important;
    }

    .input-sm {
        padding: 0 !important;
    }

    .form-control {
        font-size: 14px;
    }

    .form-select {
        font-size: 14px;
    }
</style>

{% endblock %}	