{% extends "ledgerui/accounts_base_b5.html" %}
{% load static %}

{% load users %}
{% load tagutils %}
{% get_instance_type as instance_type %}
{% is_internal as is_internal_login %}
{% is_officer as is_officer_login %}
{% is_wildlifecompliance_officer as is_wildlifecompliance_officer %}
{% is_wildlifecompliance_admin as is_wildlifecompliance_admin_login %}
{% is_wildlifecompliance_payment_officer as is_payment_officer %}
{% is_compliance_internal_user as is_compliance_internal_login %}
{% prefer_compliance_management as prefer_compliance_management %}
{% is_compliance_management_user as is_compliance_management_user %}
{% is_compliance_management_callemail_readonly_user as is_compliance_management_callemail_readonly_user %}
{% system_maintenance_due as system_maintenance_due %}
{% is_external_url as is_external_url %}
{% is_internal_url as is_internal_url %}
{% RAND_HASH as RAND_HASH %}
{% system_name_var as system_name_var %}
{% COMPLIANCE_LINKS_ENABLED as compliance_links_enabled %}

{% block header_top_menu %}
{% endblock %}

{% block extra_hidden_inputs %}
    <link rel="icon" type="image/svg+xml" href="{% static 'wildlifecompliance/img/favicon.svg' %}">
{% endblock %}

{% block extra_css %}
<link type="text/css" href="{% static 'wildlifecompliance/css/base.css' %}" rel="stylesheet">
{% if not dev %}
<link rel="stylesheet" href="{% static 'wildlifecompliance_vue/css/app.css' %}?v={{GIT_COMMIT_HASH}}">
<link rel="stylesheet" href="{% static 'wildlifecompliance_vue/css/chunk-vendors.css' %}?v={{GIT_COMMIT_HASH}}">
{% endif %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript"
            src="{% static 'wildlifecompliance_vue/js/chunk-vendors.js' %}?v={{GIT_COMMIT_HASH}}"></script>
    <script type="text/javascript"
            src="{% static 'wildlifecompliance_vue/js/app.js' %}?v={{GIT_COMMIT_HASH}}"></script>
{% endblock custom_js %}

{% block menu_items_left_brand %}
    <div class="navbar-nav">
        <div class="nav-item">
            {% if request.user.is_authenticated %}
            <a class="navbar-brand" href="/external/"><img src="{% static 'wildlifecompliance/img/dpaw_small.png' %}">Home</a>
            {% endif %}
        </div>
    </div>
{% endblock menu_items_left_brand %}