{% extends 'wildlifecompliance/base.html' %}

{% block content %}
    <style>
        .debug-box {
            margin: 0 0 0 3em;
            background: lightgray;
            padding: 0.5em;
        }
        .row {
            margin: 0 0 1em 0;
        }
    </style>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-header">
                <h3 class="panel-title">
                    Reports
                </h3>
            </div>
            <div class="panel-body collapse show">
                <div class="row form-group">
                    <div class="col-sm-12">
                    {% if message %}
                    <div class="alert alert-success">{{message}}</div>
                    {% else %}
                    <div class="alert alert-info">Email reports will be sent to the requesting user some time after the request has been made.</div>
                    {% endif %}
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Format</label>
                    <div class="col-sm-6">
                        <select id="format_select" name="format" class="form-control">
                            <option value="excel">Excel</option>
                            <option value="csv">CSV</option>
                        </select>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label"># Records for Report</label>
                    <div class="col-sm-6">
                        <input id="num_records" name="num_records" type="number" value=100000 max=500000 min=1 class="form-control">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-sm-3 control-label">Report Type</label>
                    <div class="col-sm-6">
                        <select id="report_select" onchange="selectReport()" class="form-control">
                            <option value="application_report">Applications</option>
                            <option value="wildlifelicence_report">Wildlife Licences</option>
                            <option value="return_report">Returns</option>
                            <option value="organisationrequest_report">Organisation Requests</option>
                            <option value="callemail_report">Call/Emails</option>
                            <option value="inspection_report">Inspections</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <form class="report_form" id="application_report" method="POST" onsubmit="submitReport('application_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Application Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged From</label>
                        <div class="col-sm-3">
                        <input class="application_field form-control" type="date" id="application_lodged_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged To</label>
                        <div class="col-sm-3">
                        <input class="application_field form-control" type="date" id="application_lodged_to" name="lodged_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_application" 
                            type="submit" 
                            name="export_model" 
                            value="application" 
                            title="Email Applications Report">
                            Email Applications Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="wildlifelicence_report" method="POST" onsubmit="submitReport('wildlifelicence_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Wildlife Licence Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Issued From</label>
                        <div class="col-sm-3">
                        <input class="wildlifelicence_field form-control" type="date" id="wildlifelicence_issued_from" name="issued_from">
                        </div>
                        <label class="col-sm-3 control-label">Issued To</label>
                        <div class="col-sm-3">
                        <input class="wildlifelicence_field form-control" type="date" id="wildlifelicence_issued_to" name="issued_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_wildlifelicence" 
                            type="submit" 
                            name="export_model" 
                            value="wildlifelicence" 
                            title="Email Wildlife Licence Report">
                            Email Wildlife Licence Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <form class="report_form" style="display:None" id="return_report" method="POST" onsubmit="submitReport('return_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Returns Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Due From</label>
                        <div class="col-sm-3">
                        <input class="return_field form-control" type="date" id="return_due_from" name="due_from">
                        </div>
                        <label class="col-sm-3 control-label">Due To</label>
                        <div class="col-sm-3">
                        <input class="return_field form-control" type="date" id="return_due_to" name="due_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_return" 
                            type="submit" 
                            name="export_model" 
                            value="return" 
                            title="Email Returns Report">
                            Email Returns Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="organisationrequest_report" method="POST" onsubmit="submitReport('organisationrequest_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Organisation Requests Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged On From</label>
                        <div class="col-sm-3">
                        <input class="organisationrequest_field form-control" type="date" id="organisationrequest_lodged_on_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged On To</label>
                        <div class="col-sm-3">
                        <input class="organisationrequest_field form-control" type="date" id="organisationrequest_lodged_on_to" name="lodged_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_organisationrequest" 
                            type="submit" 
                            name="export_model" 
                            value="organisationrequest" 
                            title="Email Organisation Requests Report">
                            Email Organisation Requests Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="callemail_report" method="POST" onsubmit="submitReport('callemail_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Call/Emails Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Lodged On From</label>
                        <div class="col-sm-3">
                        <input class="callemail_field form-control" type="date" id="callemail_lodged_on_from" name="lodged_on_from">
                        </div>
                        <label class="col-sm-3 control-label">Lodged On To</label>
                        <div class="col-sm-3">
                        <input class="callemail_field form-control" type="date" id="callemail_lodged_on_to" name="lodged_on_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_callemail" 
                            type="submit" 
                            name="export_model" 
                            value="callemail" 
                            title="Email Call/Emails Report">
                            Email Call/Emails Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form class="report_form" style="display:None" id="inspection_report" method="POST" onsubmit="submitReport('inspection_report')">
            <div class="panel panel-default">
                <div class="panel-header">
                    <h3 class="panel-title">Inspections Report</h3>
                </div>
                <div class="panel-body collapse show">
                    {% csrf_token %}
                    <div class="row">
                        <label class="col-sm-3 control-label">Planned From</label>
                        <div class="col-sm-3">
                        <input class="inspection_field form-control" type="date" id="inspection_planned_from" name="planned_from">
                        </div>
                        <label class="col-sm-3 control-label">Planned To</label>
                        <div class="col-sm-3">
                        <input class="inspection_field form-control" type="date" id="inspection_planned_to" name="planned_to">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        <button class="btn btn-primary"
                            id="export_inspection" 
                            type="submit" 
                            name="export_model" 
                            value="inspection" 
                            title="Email Inspections Report">
                            Email Inspections Report
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script>
        function getFilters(form_id) {
            var field_class = form_id.replace("_report","_field");
            var fields = document.getElementsByClassName(field_class);
            var filters = Object();
            Array.from(fields).forEach(field => {
                filters[field.name] = field.value;
                if (field.type == 'checkbox') {
                    filters[field.name] = field.checked;
                }
            });
            var input = document.createElement('input');
            input.setAttribute('name', "filters");
            input.setAttribute('value', JSON.stringify(filters));
            input.setAttribute('type', "hidden");
            return input;
        }

        function submitReport(form_id) {
            var form = document.getElementById(form_id);
            var format = document.getElementById('format_select');
            format.setAttribute("hidden", true);
            var num_records = document.getElementById('num_records');
            num_records.setAttribute("hidden", true);
            form.appendChild(format);
            form.appendChild(num_records);
            form.appendChild(getFilters(form_id));
        }

        function selectReport() {
            var report_forms = document.getElementsByClassName("report_form");
            Array.from(report_forms).forEach(report_form => {
                report_form.setAttribute("style","display: None");
            });
            document.getElementById(document.getElementById("report_select").value).setAttribute("style","display: block");
        }
    </script>

{% endblock %}
