{% extends 'wildlifecompliance/base.html' %}
{% load users %}


{% load static %}

{% block messages %}
{% endblock %}

{% block content %}
    {% prefer_compliance_management as prefer_compliance_management %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>
                    {% if prefer_compliance_management %}
                    Welcome to Compliance Management
                    {% else %}
                    Welcome to Wildlife Licensing
                    {% endif %}
                </h2>
            </div>
            <div class="col-md-4">
                {% if not request.user.is_authenticated %}
                    <div id="ps-login-container">
                        <h3>
                            {% if prefer_compliance_management %}
                            Access to Compliance Management
                            {% else %}
                            Access to Wildlife Licensing
                            {% endif %}
                        </h3>
                        <br>
			    <a class="btn btn-primary" href="{{ BASE_URL }}ssologin">Login</a>
                        <hr>
                        {% if prefer_compliance_management %}
                        <h4>
                            Compliance Password-less Logins
                        </h4>
                        <p>
                            At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as Compliance Management, simply enter your email and an
                            authentication code will be sent to your registered email address. From there, enter the code on screen to complete the login process.
                        </p>
                        {% else %}
                        <h4>
                            Wildlife Licensing Password-less Logins
                        </h4>
                        <p>
                            At the Department of Biodiversity, Conservation and Attractions, we employ a password-less authentication system, meaning you never need to remember
                            a password. When you need to login to a site, such as Wildlife Licensing, simply enter your email and an
                            authentication code will be sent to your registered email address. From there, enter the code on screen to complete the login process.
                        </p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
