.topmast {
    height: 115px;
    padding-top: 0px;
    background: #3580ca url("../img/top-bg-grasses.gif") repeat-x center bottom;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.modal-header {
    background-color: #529b6b;
    color: #fcb13f;
}

.modal-body {
    background-color: #529b6b;
    color: #fff;
}

.modal-footer {
    background-color: #529b6b;
}

.popover {
    max-width: 100%;
}

.swal2-popup {
    font-size: 1.5rem !important;
}

/* Bring app content inline with header logo and navbar */
div#app .container {
    padding: 0 40px 0 40px;
    margin-bottom: 45px;
}

div#app .container h3 {
    margin-bottom: 0.7em;
}

.text-primary {
    color: #226fbb !important;
}

.parks_bg_banner .col-lg-9 {
    display: flex !important;
    align-items: center !important;
    padding-left: 2em;
}

.parks_bg_banner .col-lg-9 h1 {
    font-size: 2.7em;
}

body {
    padding-bottom: 60px;
}

.form-check-input:checked {
    background-color:#226fbb !important;
}

.form-floating textarea {
    min-height: 120px;
    font-style: italic !important;
    color: #999 !important;
    padding-top: 36px !important;
    font-size: 14px !important;
}

.bg-primary {
    background-color: #226fbb !important;
}

.nav-pills .nav-link {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    margin-right: 0.25em;
}

.nav-pills .nav-link {
    background: lightgray;
}

.nav-pills .nav-link.active {
    background: gray;
}

.page-item>.page-link {
    color: #226fbb;
}

.page-item.active>.page-link {
    color: #fff;
    background-color: #226fbb !important;
    border-color: #226fbb !important;
}

.nav-link {
    color: #226fbb;
}

@media (max-width: 992px) {
    .ps-banner h1 {
        display: none;
    }
}

.ps-banner h1 {
    margin-top: 15px;
    font-size: 50px;
    color: #fcb13f;
}

.top-buffer {
    margin-top: 20px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.left-buffer {
    margin-left: 20px;
}

.right-buffer {
    margin-right: 20px;
}

.ps-breadcrumbs {
    background-color: white;
    margin-top: -20px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.horizontal-scroll {
    overflow-x: scroll;
}

.popover {
    max-width: 100%;
}

.btn-primary{
    color: #fff !important;
    background-color: #226fbb !important;
    border-color:  #226fbb !important;
}
.btn-primary:hover {
    color: #fff !important;
    background-color: #5393d2 !important;
    border-color: #5393d2 !important;
}
.dt-buttons{
    margin-left: 8px;
}

/* To avoid the change in the arrow display b'coz of the global font-family: var(--bs-font-sans-serif); */
.dtr-control:before{
    font-family: None;
}
/* Datatables styles */


table.dataTable a {
    color: #226fbb;
}

table.dataTable a:hover {
    color: #5393d2;
}


.collapse-icon {
    cursor: pointer;
}

.expand-icon {
    cursor: pointer;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered {
    color: #505050 !important;
}

/* Styles for mini referrals tables */

.table-referrals {
    font-size: 0.8em;
}

.fa-bell:hover,
.fa-times-circle:hover {
    opacity: 0.7;
}

.truncate-name {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make sure sweet alert 2 shows on top of all other elements including modals and popovers */

.swal2-container {
    z-index: 9999;
}