{% load users %}
{% load tagutils %}

{% is_wildlifecompliance_admin as is_wildlifecompliance_admin_login %}
{% is_wildlifecompliance_payment_officer as is_payment_officer %}

{% if is_wildlifecompliance_admin_login %}
    <li><a class="dropdown-item" href="/internal/schema">Manage Licence Schema</a></li>
    {% if request.user.is_superuser %}
        <li><a class="dropdown-item" href="{% url 'mgt-commands' %}">Management Commands</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="{{ LEDGER_UI_URL }}/ledger/account-management/">Accounts Management</a></li>
    <li role="separator" class="divider"></li>
{% endif %}

{% if is_payment_officer %}
    <li><a class="dropdown-item" class="dropdown-item" href="{{ LEDGER_UI_URL }}/reports?system_id={{ LEDGER_SYSTEM_ID }} ">Reports</a></li>
{% endif %}


<li><a class="dropdown-item" href="/ledger-ui/accounts">Manage Account</a></li>
{% for org in request.user.wildlifecompliance_organisations.all %}
    {% for org_contact in org.contacts.all%}
        {% if org_contact.email == request.user.email %}
            {% if org_contact.user_status == 'active' %}
                {% if org_contact.is_admin or org_contact.check_consultant %}
                    <li><a class="dropdown-item" href="/ledger-ui/organisation/{{org.organisation_id}}">Manage {{org.name}} </a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}
<li role="separator" class="divider"></li>