{% load users %}
{% load static %}
{% is_officer as is_officer_login %}
{% is_wildlifecompliance_officer as is_wildlifecompliance_officer %}
{% is_compliance_internal_user as is_compliance_internal_login %}
{% prefer_compliance_management as prefer_compliance_management %}
{% is_compliance_management_user as is_compliance_management_user %}

{% is_internal as is_internal_login %}

{% if request.user.is_authenticated %}
    {% if is_compliance_management_user and not is_compliance_internal_login %}
        <li><a href="/internal/call_email">Call/Emails</a></li>     
        <li><a href="/infringement">Infringement Notice</a></li>                       
    {% elif is_wildlifecompliance_officer and not prefer_compliance_management %}
        <li><a href="/internal/">Applications</a></li>
        <li><a href="/internal/licences">Licences</a></li>
        <li><a href="/internal/returns">Returns</a></li>
        <li><a href="/internal/organisations/access">Organisation Access Requests</a></li>
    {% elif is_compliance_internal_login and prefer_compliance_management %}
        <li><a href="/internal/call_email">Call/Emails</a></li>
        {% if compliance_links_enabled %}
            <li><a href="/internal/inspection">Inspections</a></li>
            <li><a href="/internal/offence">Offences</a></li>
            <li><a href="/internal/object">Objects</a></li>
            <li><a href="/internal/sanction_outcome">Sanction Outcomes</a></li>
            <li><a href="/internal/legal_case">Cases</a></li>
        {% endif %} 
    {% else %}
        <!-- External user -->
        <li><a href="/infringement">Infringement Notice</a></li>
    {% endif %}

    {% if is_officer_login %}
        <li><a href="/internal/search">Search</a></li>
    {% endif %}
{% else %}
    <li><a href="{% url 'wc_contact' %}">Contact Us</a></li>
    <li><a href="{% url 'wc_further_info' %}">Further Information</a></li>
    <li><a href="{% url 'wc_infringement' %}">Infringement Notice</a></li>
{% endif %}

<script>
    var payment_processing = 
    {
       var: { checkouthash: "{{ checkouthash }}"}
    }

    function createCookie(name, value, days) {
        var expires;
    
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
 
    createCookie('checkouthash', "{{ checkouthash }}");

    if (window.location.href.indexOf("payment-details") != -1) {
        setInterval(function() {
            createCookie(document.getElementById('payment-csrfmiddlewaretoken').value, "{{ checkouthash }}");
            var checkouthash_cookie = readCookie("checkouthash");
            if (payment_processing.var.checkouthash != checkouthash_cookie) {
                window.location = "/"                
            }
        },"500");
    }
</script>